<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Parsers">

    <test name="parsers">
        <classes>
            <class name="tests.parsers.IntegerArgumentParserTest"/>
            <class name="tests.parsers.ShortArgumentParserTest"/>
            <class name="tests.parsers.LongArgumentParserTest"/>
            <class name="tests.parsers.ByteArgumentParserTest"/>
            <class name="tests.parsers.BooleanArgumentParserTest"/>
            <class name="tests.parsers.StringArgumentParserTest"/>
            <class name="tests.parsers.FloatArgumentParserTest"/>
            <class name="tests.parsers.DoubleArgumentParserTest"/>
        </classes>
    </test>

    <test name="constraints">
        <classes>
            <class name="tests.constraints.AllowedSetConstraintNumbersTest"/>
            <class name="tests.constraints.AllowedSetConstraintStringsTest"/>
            <class name="tests.constraints.LowerBoundConstraintTest"/>
            <class name="tests.constraints.UpperBoundConstraintTest"/>
            <class name="tests.constraints.RangeConstraintTest"/>
            <class name="tests.constraints.StringMaxLengthConstraintTest"/>
            <class name="tests.constraints.StringMinLengthConstraintTest"/>
            <class name="tests.constraints.StringLengthConstraintTest"/>
            <class name="tests.constraints.ComposedConstraintTest"/>
        </classes>
    </test>

    <test name="main">
        <classes>
            <class name="tests.ArgumentTest"/>
            <class name="tests.OptionsListTest"/>
        </classes>
    </test>
</suite>